body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.oranger-color {
    color: orange;
}

.flexabel-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    margin-bottom: 100px;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
}

.heder-top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-para {
    padding-right: 120px;
}

.experiences-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 60px grey;
    padding-left: 20px;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

.border-color-left-item {
    border-left: 10px solid orangered;
}

.border-color-right-item {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}